/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-blue: #61bce6;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  // font-family: Mukta, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clr-gray500;
  font-size: 0.5rem;
  $clr-blue: #61bce6;
}
.table_user {
  border-collapse: separate;
  border-spacing: 0px 1em;
  max-width: 93%;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: 100px;
  overflow-x: auto;
  text-align: center;
  padding: 20px;
}

.bodythead {
  box-shadow: 0 5px 10px $clr-gray600;
}
.table {

  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  border-radius: 30px;

  border-collapse: separate;
  border-spacing: 0px 1em;
  max-width: fit-content;
  margin-top: 25px;
  margin-right: 100px;


  overflow-x: auto;

  // box-shadow: 0 5px 10px $clr-gray600;
  // background-color: white;
  text-align: center;

  padding: 20px;

  thead {
    // box-shadow: 10px  5px 10px $clr-gray400;
    margin-top: 20px;
  }
  .main_email {
    width: 100% !important;
  }
  th {
    font-weight: 500 !important;
    background-color: #04aa6d;
    color: white;
    padding: 12px;
    min-width: 112px;
    max-width: 150px;
  }
  .tr_admin {
flex: 1;

    border-collapse: separate !important;

    font-weight: 500 !important;
    text-transform: capitalizes;
    color: #fff;
    font-weight: 500;

min-width: 100px;
max-width: 150px;
word-wrap: break-word;
    // font-size: 0.9rem;
    // background-color: #1b2d64;

    // border: 1px solid$clr-gray700;
  }
  .tr_admin :first-child {
    // color: #388e3c;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    // border-radius: 10px;
  }
  .tr_admin :last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .main_email td {
    color: #04aa6d;
    background-color: #fff;
    border-radius: 10px;
  }
  .admin_data :first-child {
    // color: #388e3c;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    // border-radius: 10px;
  }
  .admin_data :last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .main_email {
    height: 50px;
  }

  .div_main {
    margin-right: 30px;
    margin-left: 30px;
  }

  .data {
    margin-bottom: 20px;
  }
  .amount {
    text-align: right;
  }
}

.usertable {
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  border-radius: 30px;

  border-collapse: separate;
  border-spacing: 0px 1em;
  max-width: fit-content;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: 120px;

  overflow-x: auto;

  // box-shadow: 0 5px 10px $clr-gray600;
  // background-color: white;
  text-align: center;

  padding: 20px;

  thead {
    // box-shadow: 10px  5px 10px $clr-gray400;
    margin-top: 20px;
  }
  .main_email {
    width: 100% !important;
  }
  th {
    font-weight: 500 !important;
    background-color: #04aa6d;
    color: white;
    padding: 12px;
    min-width: 112px;
    max-width: 100px;
  }
  .tr_admin {
    border-collapse: separate !important;

    font-weight: 500 !important;
    text-transform: capitalizes;
    color: #fff;
    font-weight: 500;

    min-width: 200px;
    max-width: 200px;
    // font-size: 0.9rem;
    // background-color: #1b2d64;

    // border: 1px solid$clr-gray700;
  }
  .tr_admin :first-child {
    // color: #388e3c;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    // border-radius: 10px;
  }
  .tr_admin :last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .main_email td {
    color: #04aa6d;
    background-color: #fff;
    border-radius: 10px;
  }
  .admin_data :first-child {
    // color: #388e3c;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    // border-radius: 10px;
  }
  .admin_data :last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .main_email {
    height: 50px;
  }

  .div_main {
    margin-right: 30px;
    margin-left: 30px;
  }

  .data {
    margin-bottom: 20px;
  }
  .amount {
    text-align: right;
  }
}
.admin_data {
  border-radius: 10px;
  border-bottom-left-radius: 20px !important;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.main_email {
  cursor: pointer;
}
td:nth-child(odd) {
  // background-color: $clr-gray300;
}
.admin_data :nth-child(odd) {
  background-color: #fafafe78;
}
.trdiv :nth-child(odd) {
  background-color: #fafafe78;
}
.trdiv {
  padding: 10px;
}
.trdiv :nth-child(even) {
  background-color: #fafafe78;
}

.admin_data :nth-child(even) {
  background-color: #fafafe78;
}
.main_email :nth-child(odd) {
  // background-color: #fafafe;
  // color: #fff;
  // border-radius: 100px;
}

.tr_user {
  text-transform: capitalizes;
  color: #ffff;
  font-weight: 300;

  background-color: #1f295a;
}
.number {
  float: right;
  margin-right: 10px;

  border-radius: 50%;
  padding: 1px;
  width: 20px;
  height: 20px;

  background-color: #04aa6d;
  border: none;
  color: #fff;
  text-align: center;
  font: 15px Arial, sans-serif;
}
.email_span {
  float: left;
  font-size: 15px;
  font-weight: 500;
}

.user_td {
  cursor: default;
  margin-left: 20px;
  color: black;
  margin-bottom: 20px;
  min-width: 100px;
  font-size: 16px;
}

.email_td {
  
  cursor: default;
  margin-left: 20px;
  color: black;
 

min-width: 100px;
  font-size: 10px;
 
}